pokemontcgsdk
requests
opencv-python
matplotlib
scipy
tk
scikit-learn
git+https://github.com/openai/CLIP.git
open_clip_torch
sentence_transformers
pillow-heif
easyocr
dill
flask
flask-cors
firebase-admin
